apiVersion: v1
kind: Service
metadata:
  name: es-kibana
  namespace: monitoring
spec:
  clusterIP: None
  ports:
    - name: http
      port: 5601
      protocol: TCP
      targetPort: 5601
  selector:
    app: es-kibana
